@import url("whitespace-reset.css");

body {
  padding: 75px 0 0 0;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #45494d;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
}

header h1 {
  margin: 0 0 75px 0;

}

header h1 a {
  background: transparent url('images/logo.png') 0 0 no-repeat;
  display: inline-block;
  width: 298px;
  height: 243px;
  text-indent: -999999px;
}

header li {
  display: inline-block;
  padding: 0 45px 45px 45px;
}

header li a {
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
}

a.active {
  font-weight: bold;
  color: #6db9ff;
}

main {
  padding: 100px 0 0 0;
  background: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 40px;
}

h2:before,
h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 22px;
  vertical-align: 5px;
  content: "\2022";
}

h3 {
  font-size: 24px;
  color: #3e59b2;
  padding-bottom: 20px;
}

article {
  padding: 0 0 100px 0;
}

article p {
  padding: 0 110px;
}

.column {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  background: #e7e7e7;
  padding: 80px 0;
  color: #b2b2b2;
}

footer p {
  padding-bottom: 35px;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer a {
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  display: block;
  height: 46px;
  width: 46px;
  text-indent: -9999px;
  overflow: hidden;
}

footer a.facebook {
  background-position: 0 -46px;
}

footer a.email {
  background-position: 0 -92px;
}

footer a.instagram {
  background-position: 0 100%;
}

/* Projects page */

#projects figure {
  padding: 0 0 55px 0;
}

#projects figure img {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

/* Team page */

#team p {
  padding: 0 120px 120px 120px;
}

#team li {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
}

#team ul {
  padding: 0 0 225px 0;
}

#team a {
  text-decoration: none;
  color: #3e59b2;
}
#team a img {
  display: block;
  margin: 0 0 25px 0;
}

/* Team detail */

/* Media queries */

@media screen and (max-width: 875px) {
  #team li {
    width: 50%;
    padding-bottom: 30px;
    box-sizing: border-box;
  }

  #team a img {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 65px;
  }
  header h1 a {
    width: 223px;
    height: 182px;
    background-size: cover;
  }

  header h1 {
    margin-bottom: 30px;
  }

  header li {
    padding-bottom: 20px;
  }

  main {
    padding-top: 70px;
  }

  #projects figure img {
    padding: 0 30px;
  }
  article p {
    padding: 0 40px;
    text-align: justify;
  }

  article {
    padding-bottom: 50px;
  }

  footer {
    padding: 35px 0;
  }

  footer li {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {

  body {
    padding-top: 0;
  }

  header {
    padding: 20px 15px;
  }
  header h1 {
    float: left;
    margin-top: 20px;
  }

  header h1 a {
    background-size: 90px;
    background-position: -20px 0;
    width: auto;
    height: 40px;
    text-indent: 55px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
  }

  header li {
    display: block;
    padding: 5px 0;
    text-align: right;
  }

  header li a {
    font-size: 16px;
  }

  main {
    clear: both;
    font-size: 16px;
  }

  h2 {
    font-size: 26px;
  }

  h2:before,
  h2:after {
    vertical-align: 0;
  }

  h3 {
    font-size: 22px;
  }

  #team p {
    padding: 0 30px 40px 30px;
    text-align: justify;
  }

  #team ul {
    padding-bottom: 100px;
  }

  footer p {
    font-size: 16px;
  }
  footer li {
    padding: 0 18px;
  }

}
